/* styles/styles.css */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}


header, nav, .banner {
    max-width: 80%;
    margin: 0 auto;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    padding: 0.5em 0;
}

nav a {
    color: white;
    padding: 0.75em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #007BFF;
    color: white;
}

.banner {
    background-color: #e9ecef;
    padding: 4em 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.banner h2 {
    margin: 0;
    font-size: 2.5em;
    color: #007BFF;
}

.main-content {
    padding: 2em;
    background-color: white;
    margin: 2em auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}